{% extends 'autenticacao/layout.html' %}

{% block content %}
<div class="wrapper">
    <form method="post" class="form">
        {% csrf_token %}
        <h2>Redefinição de Palavra-chave</h2>
        <div class="input-field">
            <label for="id_new_password1">Nova Palavra-chave</label>
            <input type="password" name="new_password1" id="id_new_password1" required>
        </div>
        <div class="input-field">
            <label for="id_new_password2">Confirmar Nova Palavra-chave</label>
            <input type="password" name="new_password2" id="id_new_password2" required>
        </div>
        <button type="submit">Redefinir Palavra-chave</button>
    </form>
</div>
{% endblock %}
