{% extends 'autenticacao/layout.html' %}

{% block content %}

<div class="wrapper">
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="username" required>
            <label>Enter your User Name</label>
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" required>
            <label>Enter your password</label>
            <button type="button" id="togglePassword">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div>
        <div class="forget">
            <label for="remember">
                <input type="checkbox" id="remember">
                <p>Remember me</p>
            </label>
            <a href="{% url 'reset_password' %}">Forgot password?</a>
        </div>
        <button type="submit">Log In</button>
        <div class="register">
            <p>Don't have an account? <a href="{% url 'registo' %}">Register</a></p>
        </div>
    </form>
</div>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordField = document.getElementById('password');
        var icon = this.querySelector('i');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    });
</script>

{% endblock %}
