{% extends 'portefolio/layout.html' %}

{% block titlePage %}Projeto: {{ projeto.nome_projeto }}{% endblock %}
{% block title %}Projeto: {{ projeto.nome_projeto }}{% endblock %}

    {% block navEdit %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'portefolio:edita_projeto' projeto.id %}" class="struct-green">Editar Projeto</a>
            <a href="{% url 'portefolio:apaga_projeto' projeto.id %}" class="struct-red">Apagar Projeto</a>
        {% endif %}
    {% endblock %}

{% block content %}
    <h3>{{ projeto.nome_projeto }}</h3>
    <p>{{ projeto.descricao }}</p>

    <h4>Conceitos Aplicados:</h4>
    <p>{{ projeto.conceitos_aplicados }}</p>

    <h4>Tecnologias Usadas:</h4>
    <p>{{ projeto.tecnologias_usadas }}</p>

    {% if projeto.imagem %}
        <img src="{{ projeto.imagem.url }}" alt="Imagem do Projeto">
    {% endif %}

    {% if projeto.video_youtube %}
        <iframe width="560" height="315" src="{{ projeto.video_youtube }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    {% if projeto.repositorio_github %}
        <p>Repositório GitHub: <a href="{{ projeto.repositorio_github }}">{{ projeto.repositorio_github }}</a></p>
    {% endif %}

    {% if projeto.ficheiro_projeto %}
        <p>Ficheiro do Projeto: <a href="{{ projeto.ficheiro_projeto.url }}">{{ projeto.ficheiro_projeto.name }}</a></p>
    {% endif %}

    <p>Disciplina Associada: <a href="{% url 'portefolio:disciplina' disciplina_id=projeto.disciplina.id %}">{{ projeto.disciplina.nome }}</a></p>

    <h4>Linguagens de Programação associadas:</h4>
    {% if projeto.linguagemprogramacao_set.all %}
        <ul>
            {% for linguagem in projeto.linguagemprogramacao_set.all %}
                <li>{{ linguagem.nome }}</li>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'portefolio:edita_linguagemProgramacao' linguagem.id %}"><button>Editar LinguagemProgramacao</button></a>
                    <a href="{% url 'portefolio:apaga_linguagemProgramacao' linguagem.id %}"><button>Apagar LinguagemProgramacao</button></a>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há linguagens de programação associadas a esta disciplina.</p>
    {% endif %}
    {% if request.user.is_authenticated %}
            <a href="{% url 'portefolio:novo_linguagemProgramacao' %}"><button>Criar LinguagemProgramacao</button></a>
    {% endif %}

{% endblock %}
