<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesses</title>
</head>
<body>
    <header>
        <h1>Os Meus Interesses e Ideias</h1>
        <nav>
            <a href="{% url 'pwsite:index' %}">Introducao</a>
            <a href="{% url 'pwsite:sobre' %}">Informação Adicional</a>
        </nav>
    </header>

    <main>
      <h2>Interesses:</h2>
      <p>Gosto de Programar</p>
      <p>Gosto de Aprender novas coisas</p>

      <h2>Ideias:</h2>
      <p>Poderá ser feito um portefólio</p>
      <p>Será acrescentado posteriormente javaScript</p>
    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>
</body>
</html>