{% extends 'menu/layout.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
    <div class="about-container">
        <h1>About Me</h1>
        <div class="about-content">
            <div class="about-text">
                <p>Hi, I'm Samir. I'm passionate about web development and design. I have experience in creating responsive and user-friendly websites using HTML, CSS, JavaScript, and various frameworks.<br>
                I love learning new technologies and continuously improving my skills.</p>
                <p>When I'm not coding, I enjoy listening to music, reading books, and exploring new places. I'm always excited to work on new projects and collaborate with others.</p>
            </div>
        </div>
    </div>
{% endblock %}
