<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/menu.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7308176b1f.js" crossorigin="anonymous"></script>
    <title>{% block title %}Menu{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo"><a href="#">Samir</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">Samir</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="{% url 'menu:index' %}">Home</a></li>
                    <li><a href="{% url 'menu:about' %}">About</a></li>
                    <li><a href="{% url 'menu:tech' %}">Tech</a></li>
                    <li><a href="{% url 'portefolio:cursos' %}">Cursos</a></li>
                    <li><a href="{% url 'artigos:lista_artigos' %}">Artigos</a></li>
                    <li><a href="{% url 'menu:other' %}">Other</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'user' %}">Username: {{ request.user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Logout <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login <i class="fa-solid fa-door-open"></i></a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script>
        const body = document.querySelector("body"),
        nav = document.querySelector("nav"),
        modeToggle = document.querySelector(".dark-light"),
        sidebarOpen = document.querySelector(".sidebarOpen"),
        siderbarClose = document.querySelector(".siderbarClose");

        let getMode = localStorage.getItem("mode");
        if(getMode && getMode === "dark-mode"){
            body.classList.add("dark");
        }

        modeToggle.addEventListener("click" , () =>{
            modeToggle.classList.toggle("active");
            body.classList.toggle("dark");

            if(!body.classList.contains("dark")){
                localStorage.setItem("mode" , "light-mode");
            }else{
                localStorage.setItem("mode" , "dark-mode");
            }
        });

        sidebarOpen.addEventListener("click" , () =>{
            nav.classList.add("active");
        });

        body.addEventListener("click" , e =>{
            let clickedElm = e.target;

            if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
                nav.classList.remove("active");
            }
        });
    </script>
</body>
</html>
